@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 5px 0;
}

li {
  font: normal 400 18px 'Quicksand';
}

h1 {
  font: normal 700 32px 'Quicksand';
  margin: 10px 0;
}

p {
  font: normal 400 18px 'Quicksand';
}

a {
  text-decoration: none;
  font: normal 700 18px 'Quicksand';
}

#btn-dark {
  background-color: transparent;
  border: none;
  margin: 0 20px;
  cursor: pointer;
}

/* ########### CABECALHO ###########  */

#sessao-principal #cabecalho {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navegacao {
  display: flex;
}

#navegacao li {
  margin: 0 20px;
}

#navegacao li a {
  padding: 10px;
  color: #024a56;
}

/* ########### CONTEÚDO ###########  */

#sessao-principal #conteudo-principal {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content img {
  width: 300px;
  border-radius: 10px;
}

#conteudo-principal .content {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  height: 90vh;
}

.content #apresentacao {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.content #apresentacao li::before {
  content: "> ";
}

.content #socials {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
  padding: 5px;
  border-radius: 5px;
}

.content #socials li {
  margin: 0 10px;
}

.fa-brands {
  font-size: 40px;
}

/* ########### SKILLS ###########  */

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 90vh;
  width: 50vw;
}

.barra-de-progresso {
  width: 50%;
  background-color: #feffb3;
  border-radius: 10px;
}
  
.barra {
  height: 35px;
  border-radius: 10px 0 0 10px;
  text-align: center;
  line-height: 32px;
}

#javascript {
  background-color: #fbb735;
  width: 50%;
}

#html {
  background-color: #d84924;
  width: 70%;
}

#css {
  background-color: #2196f3;
  width: 80%;
}

#vue {
  background-color: #3eaf7c;
  width: 20%;
}

.bg-dark {
  background-color: #060c0f;
  color: #ecf0f1 !important;
  transition: .5s;
}

.bg-light {
  background-color: #b6dcdd;
  color: #024a56;
  transition: .5s;
}
