@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

li {
  font: normal 400 18px 'Quicksand';
  color: #b6dcdd;
}

h1 {
  font: normal 700 32px 'Quicksand';
  color: #024a56;
}

p {
  font: normal 400 18px 'Quicksand';
  color: #024a56;
}

a {
  text-decoration: none;
  font: normal 700 18px 'Quicksand';
  color: #feffb3;
}

#sessao-principal {
  height: 100vh;
}

/* ########### CABECALHO ###########  */

#sessao-principal #cabecalho {
  background-color: #4d998f;
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#cabecalho ul {
  display: flex;
}

#cabecalho ul li {
  margin: 0 20px;
}

/* ########### CONTEÚDO ###########  */

#sessao-principal #conteudo-principal {
  background-color: #b6dcdd;
  /* background: linear-gradient(to left,
  #b6dcdd 23%, #4d998f 0% 40%); */
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#conteudo-principal div {
  margin: 0 auto;
}

#conteudo-principal img {
  width: 320px;
  border-radius: 10px;
}

#conteudo-principal .content {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #024a56;
  padding: 50px;
}

.content #apresentacao {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.content #apresentacao li::before {
  content: "> ";
}

.content #socials {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}

.content #socials li {
  margin: 0 10px;
}

#socials img {
  width: 40px;
}

/* ########### SESSÃO PROJETOS ###########  */

#sessao-projetos {
  height: 100vh;
}

